.car-slide1{
    position: relative;
    height: 200px;
    left: -100%;
    transition: left 5.1s;

    border:none!important;
    box-shadow: none!important;
}
.car-slide2{
    position: relative;
    height: 200px;
    left: 75px;
    border:none!important;
    box-shadow: none!important;
}
.plate-scan{
    position: relative;
    height: 200px;
    left: 75px;
    border:none!important;
    box-shadow: none!important;
}
.caranimate{
    left: 75px;
}
.barrier-closed{
    position: relative;
    left: 0px;

    border:none!important;
    box-shadow: none!important;
}
.hmiscreen {
    right: 0;
    position: absolute;
}
.reveal .slides section, .reveal .slides section > section {
    line-height: 4.3!important;
    font-weight: inherit;
}
