.car-slide1{
    position: relative;
    height: 200px;
    left: -100%;
    transition: left 5.5s;

    border:none!important;
    box-shadow: none!important;
}
.caranimate{
    left: 200px;
}
.barrier-closed{
    position: relative;
    left: 100px;

    border:none!important;
    box-shadow: none!important;
}
.hmiscreen {
    width: 250px;
    left: 96px;
    position: relative;
}
